.white {
    .rzLabel {
      color: #fff;
    }  

    .rzInputLine {
    background: #fff;
  }
  .rzInput{
    &:selected{
      color: #fff;
    }
    
  }
}
.rzInput{
  color: #212121;
}
.rzLabel {
    color: #757575;
}  
.rzInputLine {
    background: #757575;
  }

.rzMainContainer {
   padding: 8px 0;
  .rzLabelContainer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.011em;
    line-height: 20px;
  }
  .rzInputContainer {
    position: relative;
    margin:0;
    .rzLabel {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        font: inherit;
        margin:0;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        font-family: 'Roboto', 'Noto', sans-serif;
    }
    .rzInput {
        position: relative;
        outline: none;
        box-shadow: none;
        padding: 0;
        width: 100%;
        background: transparent;
        border: none;
        margin:0;
        
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

    }
  }
  .rzLineContainer{
    position:relative;
    .rzInputLine {
      height: 1px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .rzInputLineFocus {
      height: 2px;
      background: $color;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: scale3d(0,1,1);
      transform: scale3d(0,1,1);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &.focus {
        transform: none;
        transition: transform 0.25s;
      }
    }
  }
}

.rzInputContainer.highlight.focus label {
    color:$color;
}
.white {
  .rzInputContainer.highlight.focus label {
      color:#fff;
  }
}
.rzInputContainer.highlight label {
    transform: translate3d(0, -75%, 0);
    transform-origin: left top;
    transition: transform 0.25s;
}

.addOn {
  border-radius: 0px;
}

.errorSpan {
  color: red;
  position:absolute;
}

rz-search {
  .searchable {
    margin-top: 10px;
    background:#fff;
    position:absolute;
    z-index: 1100;
    height: 200px;
    width: 100%;
    display: none;
    overflow-y: auto;
    &.show {
      display: block;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
      padding: 20px;
      border-bottom: 1px solid #CECECE;

      &:hover {

        background:#fff;
        cursor: pointer;

      }
    }
  }
}




